<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Sistema de gestión de teatros</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
        <div style="margin: 15px;">
            <div th:replace="opciones.html :: content"/>
        </div>
        
    </body>
</html>